<form action='/CheckItOut' method='post' >
 What Landmark Would You Like To Go To?:<input name='landmark' type='text'/><br>
What city is it located in?: <input name='city' type='text'/><br>
What are you planning to do there?: <input name='comment' type='text'/><br>
  <input type='submit' value="submit" />
</form>


